.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 200px;
}

#banner {
  width: 1750px;
  height: 200px;
}

#menu {
  border-style: solid;
  border-color: green;
  border-bottom-width: 5px;
}

#categories {
  float: left;
  margin-top: 20px;
}

.category {
  border-style: solid;
  margin: 2px;
  width: 150px;
  color: white !important;
  background-color: #453D3C;
  border-radius: 7px;
  font-family: Arimo;
  font-weight: bold
}

#search {
  border-style: solid;
  border-color: green;
  box-sizing: border-box;
  width: 300px;
  margin: 10px
}

#sortBy {
  border-style: solid;
  border-color: green;
  width: 100px;
}

body {
  background-color: #D2691E;
}

#heading-for-search-sort-by {
  color: white;
}

#wrapper-for-search-sort-by {
  width: 1550px;
  border: 1px solid black;
  overflow: hidden;
  padding: 20px;
  background-color: #453D3C;
  border-radius: 7px;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 20px;
}

.form {
  margin: 50px auto;
  width: 250px;
}

.form-input {
  width: 300px;
}

#product-details-image {
  width: 400px;
  height: 200px;
  margin: 20px auto;
  display: block;
}

#details {
  /* margin-top: 200px;
  margin-left: 200px; */
  margin: 0px auto !important;
  border-width: 3px;
  border-color: green;
  border-style: solid;
  border-radius: 5px;
}


#wanted {
  margin: 0px auto;
  border-width: 3px;
  border-color: green;
  border-style: solid;
  border-radius: 5px;
}

/*
#wrapper-for-product-details {
  margin: 0px auto;
  width: 100px;
}

#product-details-name {
  font-size: 50px;
  float: left;
}

#details-description {
  font-style: italic;
  font-size: 70px;
}

#details-location {
  font-size: 30px;
} */

/* #details {
  font-size: 20px;
  border: 1px solid black;
  overflow: hidden;
  width: 650px;
  float: left;
  border-color: green;
  border-width: 2px;
  border-bottom-width: 5px;
  border-right-width: 5px;
  font-family: Arimo;
}

#details-description {
  font-style: italic;
  font-size: 20px;
  word-wrap: break-word;
}

#details-description-heading {
  font-size: 30px;
  border: 1px solid black;
  overflow: hidden;
  width: 650px;
  float: left;
  border-bottom-width: 2px;
  border-color: green;
  background-color: #453D3C;
  color: white;
  font-family: Arimo;
} */

/* #wanted  {
  font-size: 20px;
  border: 1px solid black;
  overflow: hidden;
  width: 650px;
  height: 100px;
  float: left;
  border-color: green;
  border-width: 2px;
  border-bottom-width: 5px;
  border-right-width: 5px;
  font-family: Arimo;
} */

.form-select {
  width: 300px;
}

.uploaded-image {
  width: 250px;
  height: auto;
  border-radius: 7px;
  margin: 20px;
}

.image-upload-area {
  border-color: green !important;
  float: right !important;
  width: 200px !important;
  height: 100px !important;
  font-size: 20px;
  font-family: Arimo;
  font-style: italic;
  border-bottom-width: 5px !important;
}

.error-messages {
  margin-top: 50px;
  float: center;
  font-family: Arimo;
  font-weight: bold;
  color: red !important;
}

.product-listings-table-header {
  background-color: #453D3C !important;
  color: white !important;
  font-family: Arimo !important;
  font-weight: bold !important;
  font-size: 20px;
}

.private-listing-details {
  font-size: 20px !important;
  font-style: italic;
}

.loader {
  margin: 0 auto !important;
  width: 100% !important;
  color: red !important;
  font-family: Arimo !important;
  font-size: weight;
  font-size: 20px;
}

#footer {
  width: 1750px;
  height: 200px;
  bottom: -100px;
  position: relative;
}

#card-image {
  width: 300px;
  height: 180px;
}

.private-image {
  width: 100px;
  height: 100px;
}
.results {
  background-color: #453D3C !important;
  border: #453D3C;
  color: #453D3C !important;
}

.listings-table {
  border-width: 5px !important;
  border-color: green !important;
}
