.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 200px;
}

#banner {
  width: 1430px;
  height: 200px;
}

#menu {
  float: right;
  border-style: solid;
  border-color: green;
  border-bottom-width: 5px;
  margin: 20px;
}

#categories {
  float: left;
  margin-top: 80px;
}

.category {
  border-style: solid;
  margin: 2px;
  width: 150px;
  color: white !important;
  background-color: #453D3C;
  border-radius: 7px;
  font-family: Arimo;
  font-weight: bold
}

#search {
  border-style: solid;
  border-color: green;
  box-sizing: border-box;
  width: 300px;
  margin: 10px
}

#sortBy {
  border-style: solid;
  border-color: green;
  width: 100px;
}

body {
  background-color: #D2691E;
}

#heading-for-search-sort-by {
  color: white;
}

#wrapper-for-search-sort-by {
  width: 1250px;
  border: 1px solid black;
  overflow: hidden;
  padding: 20px;
  background-color: #453D3C;
  border-radius: 7px;
  display: inline-block;
  margin-bottom: 30px;
}

.form {
  margin: 20px auto;
  width:250px;
}

.form-input {
  width: 300px;
}

#wrapper-for-product-details {
  width: 1000px;
  margin-right: 20px;
  border: 1px solid black;
  overflow: hidden;
  padding: 20px;
  border: 1px solid black;
  border-width: thin;
  display: inline-block;
  margin-top: 90px;
  border-radius: 7px;
  border-color: green;
}

#product-details-name {
  font-size: 50px;
  float: center;
}

#product-details-image {
  width: 540px;
  height: auto;
  border-radius: 7px;
  float: left;
  margin: 100px;
}

#details-description {
  font-style: italic;
  font-size: 70px;
}

#details-location {
  font-size: 30px;
}

#details {
  font-size: 20px;
  border: 1px solid black;
  overflow: hidden;
  width: 650px;
  float: left;
  border-color: green;
  border-width: 2px;
  border-bottom-width: 5px;
  border-right-width: 5px;
  font-family: Arimo;
}

#details-description {
  font-style: italic;
  font-size: 20px;
  word-wrap: break-word;
}

#details-description-heading {
  font-size: 30px;
  border: 1px solid black;
  overflow: hidden;
  width: 650px;
  float: left;
  border-bottom-width: 2px;
  border-color: green;
  background-color: #453D3C;
  color: white;
  font-family: Arimo;
}

#wanted  {
  font-size: 20px;
  border: 1px solid black;
  overflow: hidden;
  width: 650px;
  float: left;
  border-color: green;
  border-width: 2px;
  border-bottom-width: 5px;
  border-right-width: 5px;
  font-family: Arimo;
}



.form-select {
  width: 300px;
}

#uploaded-image {
  width: 250px;
  height: auto;
  border-radius: 7px;
  margin: 20px;
}

#image-upload-area {
  border-color: green !important;
  float: right !important;
  width: 200px !important;
  height: 100px !important;
  font-size: 20px;
  font-family: Arimo;
  font-style: italic;
  border-bottom-width: 5px !important;
}

.error-messages {
  width: 500px;
  float: center;
  font-family: Arimo;
  font-weight: bold;
  color: red !important;
}

.product-listings-table-header {
  background-color: #453D3C !important;
  color: white !important;
  font-family: Arimo !important;
  font-weight: bold !important;
  font-size: 20px;
}

.private-listing-details {
  font-size: 20px !important;
  font-style: italic;

}
